// COLORS
$textColor: black; // sass specific not css
$hoverColor: rgb(252, 215, 215);

// BREAKPOINTS
$breakpoint-sm: 576px;
$breakpoint-sm-max-width: 576px;
$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1140px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;
